body {
	background-color: pink
}
h1,h2{
	text-align: center;
}
p {
	font-family: helvetica serif;
	color: purple;
}
.cat:hover .picture{
	color: #fff;
}
img {
	display: block;
	margin: auto;
	border-radius: 8px;
	padding-top: 15px;
}
.cat2 img {
	display: block;
}
#cat2 img.wrap {
	max-width: 70%
	margin: 30px 0px;
}

.cat2 img.align-right {
	float right;
	margin-left: 30px;
}
@media (max-width: 768px){img{margin: 10%;}}

.cat3 img {
	display: block;
}

ody {margin:0;}
ul.topnav {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background-color: rgb(141, 97, 163);
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 20px;
  padding-right: 30px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 20px;
}

ul.topnav li a:hover {background-color: rgb(90, 252, 249);}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }